**/target
**/.settings

# GRADLE IGNORES
**/.gradle
gradle/*
**/build
**/.idea
**/*.iml
gradlew
gradlew.bat
gradle/wrapper/


**/*.iws
**/*.log
**/*.log.*
**/deploy/
**/atlassian-ide-plugin.xml
**/out
lib/cheetah-sdk-*
server/template-project.properties
performance/jmeter.log
performance/response_graph.xml
performance/summary.xml

classes/*
/setup/setup.properties
/newrelic.yml
newrelic/newrelic.jar
*.orig
classes/
